<p class="text-4xl text-blue-600 dark:text-sky-400">
  Services
</p>
<p class="text-gray-500 dark:text-gray-400">
  This is my website for my upcoming company Taddic AB. This site is currently under construction, check back soon for
  a nice looking website powered by <a href="https://www.phoenixframework.org/"><u>Phoenix</u></a>
  Meanwhile you can take a look at my <a href="https://www.linkedin.com/in/tommymattsson" target="_blank"><u>LinkedIn</u></a> and/or
  <a href="https://github.com/taddic" target="_blank"><u>GitHub</u></a>
</p>
